#content-form {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form {

        input {
            margin-right: 10px;
            height: 35px;
        }
    
        button {
            background: #5d3782;
            border: none;
            color: #FFF;
            height: 35px;
            padding: 5px;
        }

    }

    .error {
        background: red;
        padding: 10px;
        color: #fff;
        margin-top: 20px;
    }

    .success {

        padding: 10px;
        margin-top: 20px;
        margin-left: 35px;

        span {
            display: block;
        }
    }
}

